.main{
    background-color: #deebee;
    padding: 340px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-top: 190px;
}

h1 {
      font-size: 70px;
    }
  

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

.main .left h3 span{
    color: #5e3bee;
}

.main .left p{
    color: #1c1e53;
    font-size: 22px;
    margin-top: 20px;
}

.main .left button{
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #5e3bee;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.main .right img{
    width: 700px;
}









