*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

header{
    height: 8rem;
    background-color: blueviolet;
    position: fixed;
    width: 100%;
}
.nav{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  
}
.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list, .btn{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    color: WHITE;
}
.nav__item{
    list-style: none;
    margin-right: 30px;
}
.btn{
    padding: 1rem;
    border-radius: 30px;
    background-color: transparent;
    border:  2px solid #fff;
    cursor: pointer;
}
.btn:hover{
    transition: 1s;
    background-color: orange;
}

.head{
    background-image: url(./assets/me\ \(1\).jpg);
    background-size: cover;
}


